#collageSection{
    background-color: white;
    color:$darkGray;
    padding:10vh 12vw;
    margin:0 auto;
    min-height:100vh;

    h1{
        margin-bottom:2rem;

        @media (min-width:600px){
            font-size:3vw;
            padding:0 0 5rem; 
        }
        
    }

    .gallery{
        width:100%;
        display:flex;
        height:100%;

        button{
            padding:0;
            width:8%;
            display:inline-block;
            color:$darkGray;
            font-size: 1.1rem;
            font-weight: bold;
            border:none;
            background-color: transparent;
            cursor:pointer;
            outline:none;

            &:focus{
                outline:none;
            }
        }

        .pictures{
            display:inline-block;
            overflow:hidden;
            
            ul{
                list-style: none;
                position:relative;
                
                li{
                    display:inline-block;
                }
            }
        }

    }   
}

ul{
    li{
        background: url(../../images/collage/11111.jpg) cover center;
    }
}
