nav{
  position:relative;
  display:flex;
  
}

.hamburger, .home{
  z-index: 10;
  text-align:right;
  position:relative;
  .icon-menu{
    padding:.5vw;
    border-radius:100%;
    border:1px solid white;
    position:fixed;
    top:2vh;
    right:2vw;
    &:hover{
      cursor:pointer;
      transform:scale(1.1);
    }
  }
}

.menu{
  width:100%;
  text-align:right;
  z-index: 10;
  position:fixed;
  top:2vh;
  right:2vw;
  padding-right: 0;
  margin-right: 0;
  flex:wrap;
  li{
    font-size:.8rem;
    margin:0 0 5px 0;
    display:inline-block;
    a{
      text-decoration: none;
      color:white;
      display:inline-block;
      padding:.5vw;
      border-radius:5px;
      border:1px solid white;
      &:hover{
        font-weight:bold;
        padding:.5vw;
        border-radius:5px;
        border:2px solid white;
        cursor:pointer;
        &:last-of-type{
          border:none;
        }
      }
    }
    .icon-cancel{
      padding:.5vw;
      border-radius:100%;
      border:1px solid white;
      &:hover{
        cursor:pointer;
        transform:scale(1.1);
      }
    }
  }
  
}
a
{
  color:white;
  text-decoration: none;

  .icon-home{
    padding:.5vw;
    border-radius:100%;
    border:1px solid white;
    position:fixed;
    bottom:2vh;
    right:2vw;

  &:hover{
    cursor:pointer;
    transform:scale(1.1);
    }
  }
}

.navScrolling{
  color:$darkGray;
  cursor:pointer;
  .icon-home, .icon-menu{
    color:$darkGray;
    border-radius: 100%;
    border:1px solid $darkGray;
    padding:.5vw;
  }
  li{
    margin:0 0 5px 0;
    a{
      color:$darkGray;
      padding:.5vw;
      border-radius:5px;
      border:1px solid $darkGray;
      &:hover{
        font-weight:bold;
        padding:.5vw;
        border-radius:5px;
        border:2px solid $darkGray;
        cursor:pointer;
      }
    }
    .icon-cancel{
      padding:.5vw;
      border-radius:100%;
      border:1px solid darkGray;
    }
  }
  
}

